.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-xl, 4rem);
  padding-bottom: var(--spacing-xl, 4rem);
  position: relative;
  z-index: 10;
  margin-top: var(--spacing-lg, 3rem);
}

.logo-image {
  width: 100%;
  max-width: 2000px;
  height: auto;
  display: block;
  align-self: center;
}
