/* Nur auf Handy: in Sektion verankert, scrollt mit (nicht fixed) */
.section-dots {
  display: none;
  position: absolute;
  top: 3vh;
  right: 10vw;
  z-index: 600;
  pointer-events: none;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .section-dots {
    display: grid;
  }

  .section-dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }
}
