.video-section {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100; /* Erste Komponente */
  margin-top: 100vh; /* Platzhalter für den fixierten Aufmacher */
  overflow: hidden;
}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Füllt die gesamte Fläche aus, behält Seitenverhältnis bei */
  display: block;
}
